

<!--left side navigation part-->

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">

    <mat-card style="align-items: center;">

      <img src="assets/person.jpg" width="100px" height="100px">  
      <h3>T.M.A.T. Bandara</h3>
      <p>asanka@gmail.com</p>

    </mat-card>
    
   


    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option >
        <a (click)="drawer.toggle()"  routerLink="/past-appointments">Past Appointment</a>
      </mat-list-option>
      <mat-list-option >
        <a  (click)="drawer.toggle()"   routerLink="/speciality-list">Speciality List</a>
      </mat-list-option>
      <mat-list-option >
        <a   (click)="drawer.toggle()"  routerLink="/doctor-list">Doctor List</a>
      </mat-list-option>
      <mat-list-option >
        <a  (click)="drawer.toggle()"  routerLink="/hospital-list">Hospital List</a>
      </mat-list-option>
      <mat-list-option >
        <a  (click)="drawer.toggle()"   href="/logout">Logout</a>
      </mat-list-option>
    </mat-selection-list>

  </mat-drawer>

  <div class="example-sidenav-content">

    <!--tool bar part add here -->

    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" mat-button (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>DOC 98</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>


    
  </div>
  <router-outlet>
    
  </router-outlet>

</mat-drawer-container>

